version: "3"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - /var/www/node_modules
      - .:/var/www
  tests:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - /var/www/node_modules
      - .:/var/www
    command: ["yarn", "test"]
